
    <form class="form-cadastro" [formGroup]="studentForm">
      <h2>Cadastro de Estudantes</h2>
      <mat-form-field>
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Id do aluno</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Idade</mat-label>
        <input matInput formControlName="age">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Turma</mat-label>
        <input matInput formControlName="grade">
      </mat-form-field>
  
      <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="studentForm?.invalid">Cadastrar</button>
    </form>
  
  