<table class="table" mat-table [dataSource]="classrooms">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let classroom"> {{classroom.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let classroom"> {{classroom.name}} </td>
  </ng-container>

  <!-- Teacher Column -->
  <ng-container matColumnDef="teacher">
    <th mat-header-cell *matHeaderCellDef> Teacher </th>
    <td mat-cell *matCellDef="let classroom"> {{classroom.teacher.name}} </td>
  </ng-container>

  <!-- Students Column -->
  <ng-container matColumnDef="students">
    <th mat-header-cell *matHeaderCellDef> Students </th>
    <td mat-cell *matCellDef="let classroom"> {{ getStudentsList(classroom) }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>