<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastro-alunos">Cadastro de Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/consulta-edicao">Consulta | Edição </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/turma">Turmas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/professor">Professores</a>
        </li>
      </ul>
    </div>
  </nav>

  
    
    <!-- Botão para o LinkedIn -->
<header>
  <div class="header">
    <img src="../assets/1701559192646.jpg" width="300px" class="rounded-circle" alt="Imagem Redonda">
    <div class="header__texto">
      <h1>Júlia Caroline Tallarico</h1>
      <p>Estudante de Engenharia de Software no Instituto Infnet</p>
      <p>Projeto desenvolvido com Spark Framework e Angular</p>

      <h3>About project:</h3>
      <p>O projeto envolve uma aplicação para gerenciamento de escolas, com funcionalidades como cadastro, visualização, atualização e exclusão de escolas, turmas, alunos e professores.
        Utiliza uma arquitetura de API RESTful para comunicar o frontend (Angular) com o backend (Spark Java), permitindo a troca de dados de forma eficiente e padronizada.</p>
      <a href="https://www.linkedin.com/in/juliatlrc/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn" style="width:42px;height:42px;border:0;">
      </a>
      <a href="https://github.com/juliatlrc" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width:42px;height:42px;border:0;">
      </a>
    </div>
    </div>
</header> 

  <router-outlet></router-outlet>

 
</body>
</html>